<footer class="my-20">
  <p class="text-center  text-slate-500">
    Copyright Â© {new Date().getFullYear()} Stevapps Inc. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-slate-500 mt-1">
    Made by <a
      href="https://www.linkedin.com/in/steven-a-ogwal-50840912b/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      StevalbertS
    </a>
  </p>
</footer>
