---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-2xl text-slate-500">Technology Stack</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12" name="simple-icons:flutter" />
    <Icon class="size-8 md:size-12" name="simple-icons:svelte" />
    <Icon class="size-8 md:size-12" name="simple-icons:python" />
    <Icon class="size-8 md:size-16" name="simple-icons:mysql" />
    <Icon class="size-8 md:size-16" name="simple-icons:amazonwebservices" />
    <Icon class="size-8 md:size-12" name="simple-icons:solana" />
    <Icon class="size-8 md:size-12" name="simple-icons:github" />
    <Icon class="size-8 md:size-12" name="simple-icons:docker" />
    <Icon class="size-8 md:size-12" name="simple-icons:tableau" />
    <Icon class="size-8 md:size-12" name="simple-icons:tensorflow" />
    
  </div>
</div>
