<div class="aspect-video">
  <iframe
    class="w-full h-full"
    src="https://player.vimeo.com/video/184846330"
    allow="autoplay; fullscreen; picture-in-picture"
    allowfullscreen>
  </iframe>
</div>